.Login_Signup_body{
	margin :0;
	background-color: #2a3990;
	padding: 0;
	
}
#logo{
	margin: 0;
	padding: 0;
	height : 40%;
	width: 100%;
}
#Username{
	color: white;
}	
#Password{
	color:white;
}
#righttext,#Firstname,#Lastname,#email,#Uname,#Pword{
	color:white;
}